body {
    margin: 0;
    font-family: sans-serif;
}

#main {
    background: #d6e7f1;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: #264e8f;
}

#result {
    background: white;
    padding: 5px 30px 75px 30px;
    color: #264e8f;
}

#footer {
    position: fixed;
    background: #264e8f;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 30px 10px 30px;
    text-align: center;
}

#footer a {
    color: white;
    font-size: 18pt;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#help {
    background: #d6e7f1;
    padding: 5px 30px 40px 30px;
    color: #264e8f;
    font-size: 16pt;
}

input {
    font-size: 18pt;
}

input[type=text] {
    outline: none;
    padding: 10px;
    border: 0.0625rem solid white;
    border-radius: 0.25rem;
}

input[type=button] {
    background: orange;
    padding: 10px 20px;
    border: 0.0625rem solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
}

input[type=text]:focus, input[type=text]:hover {
    border: 0.0625rem solid rgba(70,166,255,.62);
    box-shadow: 0 0 0.3125rem rgb(70 166 255 / 62%);
}

.radio-toolbar {
    margin-bottom: 10px;
    display: table;
}

.radio-toolbar input[type="radio"] {
    margin-left: 5px;
    margin-right: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

.radio-toolbar label {
    display: table-cell;
    background-color: #ddd;
    padding: 7px 16px;
    border: 0.0625rem solid #888;
    border-radius: 0.25rem;
    cursor: pointer;
}

.radio-toolbar input[type="radio"][name="year"] + label {
    font-size: 16pt;
}

.radio-toolbar input[type="radio"][name="month"] + label {
    font-size: 10pt;
}

.radio-toolbar label:hover {
    border: 0.0625rem solid rgba(70,166,255,.62);
    box-shadow: 0 0 0.3125rem rgb(70 166 255 / 62%);
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #264e8f;
    color: white;
}

.radio-toolbar input[type="radio"]:disabled + label {
    color: gray;
}

h1 {
    font-size: 22pt;
}

h2 {
    font-size: 16pt;
    margin-top: 30px;
    margin-bottom: 5px;
}

h3 {
    color: gray;
    font-size: 10pt;
    margin-top: 0;
    margin-bottom: 5px;
}

table {
    border-spacing: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 100%;
}

table th, table td {
    padding: 5px 10px;
    text-align: center;
    background: #E8FEFF;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.emptyInput {
    background: #f68a8a;
}

.error {
    color: red;
}

.tabs {
    display: flex;
}

.label {
    padding: 9px 50px 7px 50px;
    margin-right: -1px;
    font-weight: bold;
    font-size: 18px;
    border-top: 1px solid rgba(70, 166, 255, 0.5);
    border-left: 1px solid rgba(70, 166, 255, 0.5);
    border-right: 1px solid rgba(70, 166, 255, 0.5);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-decoration: none;
}

.label.activeTab {
    color: #264e8f;
    background: #d6e7f1;
}

.label.inactiveTab {
    color: #7f7f7f;
    background: #e5e5e5;
    border-bottom: 1px solid rgba(70, 166, 255, 0.5);
}

.label.inactiveTab:hover {
    background: #d6e7f150;
}

.filler {
    border-bottom: 1px solid rgba(70, 166, 255, 0.5);
    flex-grow: 1;
}

#bannerLink {
    padding: 10px 20px;
    border: none;
    border-radius: 0.25rem;
    background: #264e8f;
    color: white;
    text-decoration: none;
    font-size: 10pt;
    transition: background-color 0.1s, transform 0.1s;
}

#bannerLink:hover {
    background-color: #3670ce;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#bannerLink:active {
    transform: translateY(1px);
}

#fio, #phone {
    margin-top: 3px;
    font-size: 16px;
    outline: none;
    padding: 10px;
    border: 0.1rem solid rgba(70,166,255,.62);
    border-radius: 0.25rem;
}

#fio:focus, #fio:hover, #phone:focus, #phone:hover {
    border: 0.1rem solid rgba(70,166,255,.62);
    box-shadow: 0 0 0.3125rem rgb(70 166 255 / 62%);
}

#btn-send {
    padding: 10px 15px;
    border-radius: 0.25rem;
    background: #264e8f;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    transition: background-color 0.1s, transform 0.1s;
    cursor: pointer;
    width: 65%;
    align-self: center;
}

#fioLabel, #phoneLabel {
    font-weight: bold;
    color: #444;
}

#contact-feedback {
    align-self: center;
    padding-bottom: 10px;
    display: none;
}

.close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    transition: color 0.2s;
}

.close-icon:hover {
    color: #ef4444;
}
